.container {
    width: 70%;
    margin: auto;
    text-align: center;
}
.dice {
    text-align: center;
    display: inline-block;
}    
.body {
    background-color: #393E46;
}
h1 {
    margin: 30px;
    text-shadow: 5px 0 #233931;
    font-size: 6rem;
    color: #aec130;
    font-family: 'Lobster', cursive;
}
p {
    font-size: 2.5rem;
    color: #93b2be;
    font-family: 'Indie Flower', cursive;
}
img {
    width: 80%;
}

